<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384866642452-v29ub50mlqku0u4natdf115tap86benr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384866642452-v29ub50mlqku0u4natdf115tap86benr</string>
	<key>API_KEY</key>
	<string>AIzaSyCf6xoDQtFLwZE5vwPnRdNp_SzWKS9Y2L8</string>
	<key>GCM_SENDER_ID</key>
	<string>384866642452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kibiki.blogposts</string>
	<key>PROJECT_ID</key>
	<string>blogapp-e70b5</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-e70b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384866642452:ios:0a3fa99ea8d268d8b11501</string>
	<key>DATABASE_URL</key>
	<string>https://blogapp-e70b5.firebaseio.com</string>
</dict>
</plist>